<div class='row'>
  <div class='col-md-6 mt-5 paddingbottom20'>
    <h1>{{hello}}</h1>
    <p class='lead'>{{joke}}</p>
  </div>
  <div class='col-md-6 paddingbottom20'>
    <img
      class='mb-4 mt-2'
      src='images/robot2.png'
      alt=''
      width='31%'
      height='auto'
    />
  </div>
  <div>
    <a
      class='btn btn-light btn-lg mb-4'
      href='viber://pa?chatURI=stockmarketbot'
    ><img class='me-2' src='images/viber.svg' width='32' /><span
      >{{chat}}</span></a>
    <p class='lead'>{{scan}}</p>
    <img class='mb-4 mt-4' src='images/qr.png' />
    {{!-- <p class='lead'>{{or}}</p> --}}
  </div>
  {{!-- <section>
    <h4 class='game--title'>{{game}}</h4>
    <div class='game--container'>
      <div data-cell-index='0' class='cell'></div>
      <div data-cell-index='1' class='cell'></div>
      <div data-cell-index='2' class='cell'></div>
      <div data-cell-index='3' class='cell'></div>
      <div data-cell-index='4' class='cell'></div>
      <div data-cell-index='5' class='cell'></div>
      <div data-cell-index='6' class='cell'></div>
      <div data-cell-index='7' class='cell'></div>
      <div data-cell-index='8' class='cell'></div>
    </div>
    <h2 class='game--status'></h2>
    <button class='btn btn-info game--restart mb-3'>{{newgame}}</button>
  </section> --}}
</div>